﻿

.relayGroupCard {
  
    height: 300px;
    margin: 5px;
    justify-content: normal;
    border-color: black;
    border-width: 2px;
}

.cardContent {

}

    .cardContent .courtName {
        font-weight: 500;
        font-size: 24px;
    }                        

    .switchStateGroup {
                
    }

        .switchStateGroup /*.headerSwitch*/ {
            padding-left: 10px;
            padding-right: 10px;
        }


.row {
         
}

.col {

}


.dashContainer {
    /*background-color: yellow;*/    
}

.dashHeaderOuter {
    background-color: var(--card-bgcolor);
    border-radius: 10px;
}
.dashHeaderInner {
    background-color: var(--card-bgcolor);
    border-radius: 10px;
}
    .infoSunUp {        
         text-align: left;
         vertical-align:central;
    }
    
    .infoLocalTime {        
         text-align: center;
         vertical-align:central;
    }

    .infoSunDown {        
        text-align: right;
        vertical-align:central;
    }

.dashBody {        
    font-size: 10px;
}
.rgCardOuter {        
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 10px;
}
    .rgCardInner {
        background-color: white;  
        padding: 10px;   
        border-radius: 10px;
    }
        .cardHeader {            
            text-align: center;
        }   
            .rgTitle {
                font-weight: 500;
                font-size:20px;
            }
            .relayView {

            }
        .cardBodyContainer {
            margin-bottom: 5px;
        }
            .cardBody {

            }                    
            .cardBody .settingKey {
                text-align: right;
                font-weight: 500;
            }
            .cardBody .settingValue {
                text-align: center;
            }
                .cardBodyL1 {
                         
                }
                .cardBodyL2 {
                         
                }
                .cardBodyL3 {
                         
                }
                .boxActive {
                    background-color: var(--card-boxActive-bgcolor);
                    border-radius:15px;
                    color: var(--card-boxActive-color);
                }
                .boxInActive {
                    background-color: var(--card-boxInActive-bgcolor);
                    border-radius:15px;
                    color: var(--card-boxInActive-color);
                }
                .rgManualBox {
                    min-height: 110px;
                }
                .rgManualBoxL2 {
                    padding-top: 20px;
                }
                .rgAutoBox {
                    min-height: 110px;                    
                }
                    .rgBoxTitle {
                        text-align: center;
                        padding: 10px;
                        font-weight: 500;
                    }
                    .rgManual {
                        text-align: center;
                    }
                    .rgAuto {
                        text-align: center;
                    }


@media screen and (min-width: 1025px) { /* LARGE MONITORS */
    .dashHeaderOuter {
        margin-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .rgCardOuter {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        /*background-color: lawngreen; */
    }
}
@media screen and (max-width: 1024px) {  /* SMALL MONITORS */
    .dashHeaderOuter {
        margin-bottom: 10px;
        padding-right: 6px;
        padding-left: 6px;
    }
    .rgCardOuter {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-right: 6px;
        padding-left: 6px;
        /*background-color: lightgray;*/
    }
}
@media screen and (max-width: 768px) { /* TABLET */
    .dashHeaderOuter {
        margin-bottom: 8px;
        padding-right: 2px;
        padding-left: 2px;
    }
    .rgCardOuter {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 2px;
        padding-left: 2px;
        /*background-color: lightcoral;*/
    }
}
@media screen and (max-width: 480px) { /* PHONE */
    .dashHeaderOuter {
        margin-bottom: 8px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .rgCardOuter {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 0px;
        padding-left: 0px;
        /*background-color: lightgoldenrodyellow;*/
    }
}