@page "/"
@page "/dashboard"

@using Syncfusion.Blazor.Buttons

<div id="dashboardComponent" class="dashContainer">

    <div id="dashboardHeaderOut" class="dashHeaderOuter">
        <div id="dashboardHeaderIn" class="row dashHeaderInner">
            <div id="dashboardSunrise" class="col-4 infoSunUp">
                <span style="font-weight: 500;">@_DashboardVM.TimeAndSunLight.NextSunrise_Text</span>
                <br />
                <span>@_DashboardVM.TimeAndSunLight.NextSunrise_Display</span>
            </div>
            <div id="dashboardLocalTime" class="col-4 infoLocalTime">
                <span style="font-weight: 500;">@_DashboardVM.TimeAndSunLight.LocalDateTime_Text</span>
                <br />
                <span>@_DashboardVM.TimeAndSunLight.LocalDateTime_Display</span>
            </div>
            <div id="dashboardSSunset" class="col-4 infoSunDown">
                <span style="font-weight: 500;">@_DashboardVM.TimeAndSunLight.NextSunset_Text</span>
                <br />
                <span>@_DashboardVM.TimeAndSunLight.NextSunset_Display</span>
            </div>
        </div>
    </div>
   
    <div id="dashboardBody" class="row">
    @foreach (var item in _DashboardVM.RelayGroupList) {
        <div id="dashboardRelayGroupX" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 rgCardOuter rgX">
            <div class="rgCardInner">
                <div class="row cardHeader align-items">
                    <div class="col-3 rgTitle">
                        @item.Value.RelayGroupName_Text
                    </div>
                    <div class="col-3 relayView relayViewA">
                        <label class="relayViewLabel">@item.Value.RelayA_Text</label>
                        <SfSwitch CssClass="relayViewSwitch" Disabled="true" @bind-Checked="item.Value.RelayA_Value" />
                    </div>
                    <div class="col-3 relayView relayViewB">
                        <label class="relayViewLabel">@item.Value.RelayB_Text</label>
                        <SfSwitch CssClass="relayViewSwitch" Disabled="true" @bind-Checked="item.Value.RelayB_Value" />
                    </div>
                    <div class="col-3 relayView relayViewC">
                        <label class="relayViewLabel">@item.Value.RelayC_Text</label>
                        <SfSwitch CssClass="relayViewSwitch" Disabled="true" @bind-Checked="item.Value.RelayC_Value" />
                    </div>
                </div>
                <div class="row cardLine">
                    <div class="col-12 hRule">
                        <hr />
                    </div>
                </div>
                <div class="cardBodyContainer">
                    <div class="row cardBody cardBodyL1 justify-content-center">
                        <div class="col-5 settingKey rgSetting01Key">
                            @item.Value.RelayGroupMode_Text
                        </div>                        
                        <div class="col-7 settingValue rgSetting01Value">
                            <label class="relayManualLabel">@item.Value.RelayGroupModeManual_Text</label>
                            &nbsp;
@if(item.Key == "1") {
                            <SfSwitch ID="Court1ModeSwitch" ref="refCourt1ModeSwitch"                                          
                                CssClass="relayViewSwitch" @bind-Checked="item.Value.IsRelayGroupModeAutomate_Value" 
                                TChecked="bool" ValueChange="Court1ModeSwitchValueChanged" />
}
@if(item.Key == "2") {
                            <SfSwitch ID="Court2ModeSwitch" ref="refCourt2ModeSwitch" 
                                CssClass="relayViewSwitch" @bind-Checked="item.Value.IsRelayGroupModeAutomate_Value" 
                                TChecked="bool" ValueChange="Court2ModeSwitchValueChanged" />
}
@if(item.Key == "3") {
                            <SfSwitch ID="Court3ModeSwitch" ref="refCourt3ModeSwitch" 
                                CssClass="relayViewSwitch" @bind-Checked="item.Value.IsRelayGroupModeAutomate_Value" 
                                TChecked="bool" ValueChange="Court3ModeSwitchValueChanged" />
}
@if(item.Key == "4") {
                            <SfSwitch ID="Court4ModeSwitch" ref="refCourt4ModeSwitch" 
                                CssClass="relayViewSwitch" @bind-Checked="item.Value.IsRelayGroupModeAutomate_Value" 
                                TChecked="bool" ValueChange="Court4ModeSwitchValueChanged" />
}
                            &nbsp;
                            <label class="relayAutoLabel">@item.Value.RelayGroupModeAutomate_Text</label>
                        </div>
                    </div>
                    @*<div class="row cardBody cardBodyL2 justify-content-center">
                        <div class="col-5 settingKey rgSetting02Key">
                            @item.Value.Automate_Text
                        </div>                        
                        <div class="col-7 settingValue rgSetting02Value">
                            <label class="relayCommitteeLabel">@item.Value.AutomateTypeSchedule_Text</label>
                            &nbsp;
@if(item.Key == "1") {
                            <SfSwitch ID="Automate1ModeSwitch" ref="refAutomate1ModeSwitch" 
                                CssClass="relayViewSwitch" Disabled="item.Value.IsAutomateTypeBooking_Disabled"
                                @bind-Checked="item.Value.IsAutomateTypeBooking_Value" 
                                TChecked="bool" ValueChange="Automate1ModeSwitchValueChanged" />
}
@if(item.Key == "2") {
                            <SfSwitch ID="Automate2ModeSwitch" ref="refAutomate2ModeSwitch" 
                                CssClass="relayViewSwitch" Disabled="item.Value.IsAutomateTypeBooking_Disabled"
                                @bind-Checked="item.Value.IsAutomateTypeBooking_Value" 
                                TChecked="bool" ValueChange="Automate2ModeSwitchValueChanged" />
}
@if(item.Key == "3") {
                            <SfSwitch ID="Automate3ModeSwitch" ref="refAutomate3ModeSwitch" 
                                CssClass="relayViewSwitch" Disabled="item.Value.IsAutomateTypeBooking_Disabled"
                                @bind-Checked="item.Value.IsAutomateTypeBooking_Value" 
                                TChecked="bool" ValueChange="Automate3ModeSwitchValueChanged" />
}
@if(item.Key == "4") {
                            <SfSwitch ID="Automate4ModeSwitch" ref="refAutomate4ModeSwitch" 
                                CssClass="relayViewSwitch" Disabled="item.Value.IsAutomateTypeBooking_Disabled"
                                @bind-Checked="item.Value.IsAutomateTypeBooking_Value" 
                                TChecked="bool" ValueChange="Automate4ModeSwitchValueChanged" />
}                            
                            &nbsp;
                            <label class="relayBookingsLabel">@item.Value.AutomateTypeBooking_Text</label>
                        </div>
                    </div>*@
                    <div class="row cardBody cardBodyL3 justify-content-center">
                        <div class="col-5 rgManualBox @item.Value.ManualMode_BoxCssClass">
                            <div class="row rgManualBoxL1 justify-content-center align-items-center">
                                <div class="col-12 rgBoxTitle">
                                    @item.Value.ManualMode_Text
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 rgManual relayEditA">
                                    <label class="relayEditLabel">@item.Value.ManualModeA_Text</label>
@if(item.Key == "1") {
                                    <SfSwitch ID="@item.Value.ManualModeA_Text" @ref="ManualSwitchToggles[item.Value.ManualModeA_Text]" 
                                        CssClass="relayEditSwitch" Disabled="item.Value.ManualSwitchTogglesDisabled"
                                        @bind-Checked="item.Value.ManualModeA_Value"                                                                       
                                        TChecked="bool" ValueChange="ManualSwitch11ValueChanged" />
}
@if(item.Key == "2") {
                                    <SfSwitch ID="@item.Value.ManualModeA_Text" @ref="ManualSwitchToggles[item.Value.ManualModeA_Text]" 
                                        CssClass="relayEditSwitch" Disabled="item.Value.ManualSwitchTogglesDisabled"
                                        @bind-Checked="item.Value.ManualModeA_Value"                                                                       
                                        TChecked="bool" ValueChange="ManualSwitch21ValueChanged" />
}
@if(item.Key == "3") {
                                    <SfSwitch ID="@item.Value.ManualModeA_Text" @ref="ManualSwitchToggles[item.Value.ManualModeA_Text]" 
                                        CssClass="relayEditSwitch" Disabled="item.Value.ManualSwitchTogglesDisabled"
                                        @bind-Checked="item.Value.ManualModeA_Value"                                                                       
                                        TChecked="bool" ValueChange="ManualSwitch31ValueChanged" />
}
@if(item.Key == "4") {
                                    <SfSwitch ID="@item.Value.ManualModeA_Text" @ref="ManualSwitchToggles[item.Value.ManualModeA_Text]" 
                                        CssClass="relayEditSwitch" Disabled="item.Value.ManualSwitchTogglesDisabled"
                                        @bind-Checked="item.Value.ManualModeA_Value"                                                                       
                                        TChecked="bool" ValueChange="ManualSwitch41ValueChanged" />
}                                                                       
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 rgManual relayEditB">
                                    <label class="relayEditLabel">@item.Value.ManualModeB_Text</label>
@if(item.Key == "1") {
                                    <SfSwitch ID="@item.Value.ManualModeB_Text" @ref="ManualSwitchToggles[item.Value.ManualModeB_Text]" 
                                        CssClass="relayEditSwitch" Disabled="item.Value.ManualSwitchTogglesDisabled"
                                        @bind-Checked="item.Value.ManualModeB_Value"                                                                       
                                        TChecked="bool" ValueChange="ManualSwitch12ValueChanged" />
}
@if(item.Key == "2") {
                                    <SfSwitch ID="@item.Value.ManualModeB_Text" @ref="ManualSwitchToggles[item.Value.ManualModeB_Text]" 
                                        CssClass="relayEditSwitch" Disabled="item.Value.ManualSwitchTogglesDisabled"
                                        @bind-Checked="item.Value.ManualModeB_Value"                                                                       
                                        TChecked="bool" ValueChange="ManualSwitch22ValueChanged" />
}
@if(item.Key == "3") {
                                    <SfSwitch ID="@item.Value.ManualModeB_Text" @ref="ManualSwitchToggles[item.Value.ManualModeB_Text]" 
                                        CssClass="relayEditSwitch" Disabled="item.Value.ManualSwitchTogglesDisabled"
                                        @bind-Checked="item.Value.ManualModeB_Value"                                                                       
                                        TChecked="bool" ValueChange="ManualSwitch32ValueChanged" />
}
@if(item.Key == "4") {
                                    <SfSwitch ID="@item.Value.ManualModeB_Text" @ref="ManualSwitchToggles[item.Value.ManualModeB_Text]" 
                                        CssClass="relayEditSwitch" Disabled="item.Value.ManualSwitchTogglesDisabled"
                                        @bind-Checked="item.Value.ManualModeB_Value"                                                                       
                                        TChecked="bool" ValueChange="ManualSwitch42ValueChanged" />
}                                     
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 rgManual relayEditC">
                                    <label class="relayEditLabel">@item.Value.ManualModeC_Text</label>
@if(item.Key == "1") {
                                    <SfSwitch ID="@item.Value.ManualModeC_Text" @ref="ManualSwitchToggles[item.Value.ManualModeC_Text]" 
                                        CssClass="relayEditSwitch" Disabled="item.Value.ManualSwitchTogglesDisabled"
                                        @bind-Checked="item.Value.ManualModeC_Value"                                                                       
                                        TChecked="bool" ValueChange="ManualSwitch13ValueChanged" />
}
@if(item.Key == "2") {
                                    <SfSwitch ID="@item.Value.ManualModeC_Text" @ref="ManualSwitchToggles[item.Value.ManualModeC_Text]" 
                                        CssClass="relayEditSwitch" Disabled="item.Value.ManualSwitchTogglesDisabled"
                                        @bind-Checked="item.Value.ManualModeC_Value"                                                                       
                                        TChecked="bool" ValueChange="ManualSwitch23ValueChanged" />
}
@if(item.Key == "3") {
                                    <SfSwitch ID="@item.Value.ManualModeC_Text" @ref="ManualSwitchToggles[item.Value.ManualModeC_Text]" 
                                        CssClass="relayEditSwitch" Disabled="item.Value.ManualSwitchTogglesDisabled"
                                        @bind-Checked="item.Value.ManualModeC_Value"                                                                       
                                        TChecked="bool" ValueChange="ManualSwitch33ValueChanged" />
}
@if(item.Key == "4") {
                                    <SfSwitch ID="@item.Value.ManualModeC_Text" @ref="ManualSwitchToggles[item.Value.ManualModeC_Text]" 
                                        CssClass="relayEditSwitch" Disabled="item.Value.ManualSwitchTogglesDisabled"
                                        @bind-Checked="item.Value.ManualModeC_Value"                                                                       
                                        TChecked="bool" ValueChange="ManualSwitch43ValueChanged" />
} 
                                </div>
                            </div>
                        </div>
                        <div class="col-1 rgSpacer">&nbsp;</div>
                        <div class="col-5 rgAutoBox @item.Value.AutomateMode_BoxCssClass">
                            <div class="row rgAutoBoxL1 justify-content-center align-items-center">
                                <div class="col-12 rgBoxTitle">
                                    @item.Value.AutomateMode_Text
                                </div>
                                <div class="col-12 rgAutoKey rgAuto">
                                    @item.Value.AutomateMode_String01
                                </div>
                                <div class="col-12 rgAutoValue01 rgAuto">
                                    @item.Value.AutomateMode_String02
                                </div>
                                <div class="col-12 rgAutoValue0 rgAuto">
                                    @item.Value.AutomateMode_String03
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    }
    </div>

</div>