@page "/scheduler"

@using Syncfusion.Blazor.Schedule
@using VortexLoop.BlazorApp.ModelsView

<div id="schedulerComponent" class="schedulerContainer">

    <h1 class="pageheader">Scheduler View</h1>  
    <hr />
    <SfSchedule @ref="sfScheduleX" TValue="ComScheduleVM"
                @bind-SelectedDate="@CurrentDate" CurrentView="View.Day" FirstDayOfWeek="1">
        <ScheduleEventSettings DataSource="@_SchedulerVM.ComScheduleList"></ScheduleEventSettings>
        <ScheduleGroup ByGroupID="false" Resources="@Resources"></ScheduleGroup>
        <ScheduleResources>
            <ScheduleResource TItem="ComScheduleRelayGroupVM" TValue="string"
                              DataSource="@_SchedulerVM.ComScheduleRelayGroupList"
                              Field="RefRelayGroupKey" IdField="Key" TextField="RelayGroupText" ColorField="RelayGroupColor"
                              Title="Court" Name="Courts" AllowMultiple="false">
            </ScheduleResource>
            <ScheduleResource TItem="ComScheduleTypeVM" TValue="string"
                              DataSource="@_SchedulerVM.ComScheduleTypeList"
                              Field="RefTypeKey" IdField="Key" TextField="TypeText" ColorField="TypeColor"
                              Title="Type" Name="Types" AllowMultiple="true">
            </ScheduleResource>
            <ScheduleViews>
                <ScheduleView Option="View.Day" AllowVirtualScrolling="true"></ScheduleView>
                <ScheduleView Option="View.TimelineDay" AllowVirtualScrolling="true"></ScheduleView>
                <ScheduleView Option="View.Week" AllowVirtualScrolling="true"></ScheduleView>
                <ScheduleView Option="View.TimelineWeek" AllowVirtualScrolling="true"></ScheduleView>
                <ScheduleView Option="View.Month" AllowVirtualScrolling="true"></ScheduleView>
                <ScheduleView Option="View.TimelineMonth" AllowVirtualScrolling="true"></ScheduleView>
                <ScheduleView Option="View.Agenda" AllowVirtualScrolling="true"></ScheduleView>
                <ScheduleView Option="View.MonthAgenda" AllowVirtualScrolling="true"></ScheduleView>
            </ScheduleViews>
        </ScheduleResources>
    </SfSchedule>
    <br />
</div>
