@page "/settings"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.InPlaceEditor
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Maps

<h1>Settings</h1>
<br />
@if (SettingsData != null)
{
        <table style="width:100%">
            <tr>
                <td>
                    <label class="control-label" style="">Latitude: </label>
                </td>
                <td>
                    <SfInPlaceEditor TValue="double" @bind-Value="@SettingsData.Latitude">
                        <EditorComponent>
                            <SfNumericTextBox TValue="double" @bind-Value="@SettingsData.Latitude">
                            </SfNumericTextBox>
                        </EditorComponent>
                    </SfInPlaceEditor>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" style="">Longitude: </label>
                </td>
                <td>
                    <SfInPlaceEditor TValue="double" @bind-Value="@SettingsData.Longitude">
                        <EditorComponent>
                            <SfNumericTextBox TValue="double" @bind-Value="@SettingsData.Longitude">
                            </SfNumericTextBox>
                        </EditorComponent>
                    </SfInPlaceEditor>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <SfMaps>
                        <MapsTitleSettings Text="Device Location" />
                        <MapsCenterPosition Latitude="@SettingsData.Latitude" Longitude="@SettingsData.Longitude" />
                        <MapsZoomSettings Enable="false" ZoomFactor="10" />
                        <MapsLayers>
                            <MapsLayer LayerType="ShapeLayerType.OSM" TValue="string">
                                <MapsMarkerSettings>
                                    <MapsMarker Visible="true" DataSource="@MarkerDatas" TValue="MarkerData">
                                        <ChildContent>
                                            <MapsMarkerTooltipSettings Visible="true" ValuePath="Name" />
                                        </ChildContent>
                                        <MarkerTemplate>
                                            @{
                                                    <div>
                                                        <img class="markerTemplate" style="margin-top:-10px;margin-left:-10px;"
                                                            src="images/maps/ballon.png" />
                                                    </div>
                                            }
                                        </MarkerTemplate>
                                    </MapsMarker>
                                </MapsMarkerSettings>
                            </MapsLayer>
                        </MapsLayers>
                    </SfMaps>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label" style="">Sunlight Aware: </label>
                </td>
                <td>
                    <SfCheckBox Checked="@SettingsData.SunlightAware" ValueChange="@OnSunlightChange" TChecked="bool">
                    </SfCheckBox>
                </td>
            </tr>
            <br />
            <h3>Court Settings</h3>
            <br />
            <h4>Court 1</h4>
            <tr>
                <td>
                    <label class="control-label" style="">SunLight Offset: </label>
                </td>
                <td>
                    <SfInPlaceEditor TValue="double" @bind-Value="@SettingsData.RelayGroupsSettings["1"].SunlightOffset">
                        <EditorComponent>
                            <SfNumericTextBox TValue="double"
                                @bind-Value="@SettingsData.RelayGroupsSettings["1"].SunlightOffset">
                            </SfNumericTextBox>
                        </EditorComponent>
                    </SfInPlaceEditor>
                </td>
            </tr>
            <tr>
                <td>
                    <div> Mode</div>
                </td>
                <td>
                    <div>
                        <SfDropDownList Width="90%" TValue="string" TItem="InplaceModes" DataSource="@ModeData"
                            @bind-Value="@SettingsData.RelayGroupsSettings["1"].Mode">
                            <DropDownListEvents TValue="string" TItem="InplaceModes" ValueChange="@ChangeEditMode01">
                            </DropDownListEvents>
                            <DropDownListFieldSettings Text="text" Value="value"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </td>
            </tr>
			<h4>Court 2</h4>
            <tr>
                <td>
                    <label class="control-label" style="">SunLight Offset: </label>
                </td>
                <td>
                    <SfInPlaceEditor TValue="double" @bind-Value="@SettingsData.RelayGroupsSettings["2"].SunlightOffset">
                        <EditorComponent>
                            <SfNumericTextBox TValue="double"
                                @bind-Value="@SettingsData.RelayGroupsSettings["2"].SunlightOffset">
                            </SfNumericTextBox>
                        </EditorComponent>
                    </SfInPlaceEditor>
                </td>
            </tr>
            <tr>
                <td>
                    <div> Mode</div>
                </td>
                <td>
                    <div>
                        <SfDropDownList Width="90%" TValue="string" TItem="InplaceModes" DataSource="@ModeData"
                            @bind-Value="@SettingsData.RelayGroupsSettings["2"].Mode">
                            <DropDownListEvents TValue="string" TItem="InplaceModes" ValueChange="@ChangeEditMode02">
                            </DropDownListEvents>
                            <DropDownListFieldSettings Text="text" Value="value"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </td>
            </tr>
			<h4>Court 3</h4>
            <tr>
                <td>
                    <label class="control-label" style="">SunLight Offset: </label>
                </td>
                <td>
                    <SfInPlaceEditor TValue="double" @bind-Value="@SettingsData.RelayGroupsSettings["3"].SunlightOffset">
                        <EditorComponent>
                            <SfNumericTextBox TValue="double"
                                @bind-Value="@SettingsData.RelayGroupsSettings["3"].SunlightOffset">
                            </SfNumericTextBox>
                        </EditorComponent>
                    </SfInPlaceEditor>
                </td>
            </tr>
            <tr>
                <td>
                    <div> Mode</div>
                </td>
                <td>
                    <div>
                        <SfDropDownList Width="90%" TValue="string" TItem="InplaceModes" DataSource="@ModeData"
                            @bind-Value="@SettingsData.RelayGroupsSettings["3"].Mode">
                            <DropDownListEvents TValue="string" TItem="InplaceModes" ValueChange="@ChangeEditMode03">
                            </DropDownListEvents>
                            <DropDownListFieldSettings Text="text" Value="value"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </td>
            </tr>
			<h4>Court 4</h4>
            <tr>
                <td>
                    <label class="control-label" style="">SunLight Offset: </label>
                </td>
                <td>
                    <SfInPlaceEditor TValue="double" @bind-Value="@SettingsData.RelayGroupsSettings["4"].SunlightOffset">
                        <EditorComponent>
                            <SfNumericTextBox TValue="double"
                                @bind-Value="@SettingsData.RelayGroupsSettings["4"].SunlightOffset">
                            </SfNumericTextBox>
                        </EditorComponent>
                    </SfInPlaceEditor>
                </td>
            </tr>
            <tr>
                <td>
                    <div> Mode</div>
                </td>
                <td>
                    <div>
                        <SfDropDownList Width="90%" TValue="string" TItem="InplaceModes" DataSource="@ModeData"
                            @bind-Value="@SettingsData.RelayGroupsSettings["4"].Mode">
                            <DropDownListEvents TValue="string" TItem="InplaceModes" ValueChange="@ChangeEditMode04">
                            </DropDownListEvents>
                            <DropDownListFieldSettings Text="text" Value="value"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </td>
            </tr>
        </table>

}

<style>
    .markerTemplate {
        height: 30px;
        width: 20px;
        display: block;
        margin: auto;
        font-size: 14px;
    }
</style>

@code{
    public class InplaceModes
    {
        public string value { get; set; }
        public string text { get; set; }
    }
    private List<InplaceModes> ModeData = new List<InplaceModes>()
    {
        new InplaceModes(){ value= "internal", text= "internal" },
        new InplaceModes(){ value= "external", text= "external" },
        new InplaceModes(){ value= "manual", text= "manual" }
    };

    private void OnSunlightChange(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> arg)
    {
        SettingsData.SunlightAware = arg.Checked;
        this.StateHasChanged();
    }

    private void ChangeEditMode01(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, InplaceModes> args)
    {
        SettingsData.RelayGroupsSettings["1"].Mode = args.Value.ToString();
        this.StateHasChanged();
    }
	private void ChangeEditMode02(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, InplaceModes> args)
    {
        SettingsData.RelayGroupsSettings["2"].Mode = args.Value.ToString();
        this.StateHasChanged();
    }
	private void ChangeEditMode03(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, InplaceModes> args)
    {
        SettingsData.RelayGroupsSettings["3"].Mode = args.Value.ToString();
        this.StateHasChanged();
    }
	private void ChangeEditMode04(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, InplaceModes> args)
    {
        SettingsData.RelayGroupsSettings["4"].Mode = args.Value.ToString();
        this.StateHasChanged();
    }
}