﻿.tabularContainer {
    /*background-color: yellow;*/
}

/* TABS CSS */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */    
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tabularTable {
    background-color: #FFF;
}

.tabularHead {
    background-color: #000;
    color: #FFF;
}

.tabularHeadRow {

}

.tabularHeadCol {
    padding: 4px;
}

.tabularBody {

}

.tabularBodyRowSpan {
    background-color: #BBB;
}

    .tabularBodyRowSpanActiveHigh
    {
        background-color: yellow;
        font-weight: bold;
    }

.tabularBodyRowContent {

}

    .tabularBodyRowContentActiveLow {
        background-color: lightyellow;
        font-weight: bold;
    }