@page "/tabular"
@using VortexLoop.BlazorApp.Models

<div id="tabularComponent" class="tabularContainer">

    <h1 class="pageheader">Tabular View</h1>
    <hr />

    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks active" onclick="loadTab(event, 'AllByTime')" id="defaultOpen">All Courts</button>
        <button class="tablinks" onclick="loadTab(event, '1')">Court 01</button>
        <button class="tablinks" onclick="loadTab(event, '2')">Court 02</button>
        <button class="tablinks" onclick="loadTab(event, '3')">Court 03</button>
        <button class="tablinks" onclick="loadTab(event, '4')">Court 04</button>
    </div>

    <!-- Tab content -->
    <div id="AllByTime" class="tabcontent" style="margin: 0 auto; text-align: center; display:block;">
        <h3>All Courts</h3>
        <table class="tabularTable" border="1" width="98%" style="align-content:center; text-align:center;">
            <thead class="tabularHead">
                <tr class="tabularHeadRow">
                    <td class="tabularHeadCol">
                        Court
                    </td>
                    <td class="tabularHeadCol">
                        Creator
                    </td>
                    @*<td class="tabularHeadCol">
                        Time Slot
                    </td>*@
                    <td class="tabularHeadCol">
                        Slot State
                    </td>
                    <td class="tabularHeadCol">
                        Light Time Updated?
                    </td>
                    <td class="tabularHeadCol">
                        Light Time
                    </td>
                    <td class="tabularHeadCol">
                        Light State
                    </td>
                    <td class="tabularHeadCol">
                        Slot Type
                    </td>
                </tr>
            </thead>
            <tbody class="tabularBody">

                @{DateTime curDayByTime = new DateTime(2000, 1, 1).Date;}

                @{DateTime curDTByTime = DateTime.UtcNow;}                

                @foreach (var slot in _TabularExtract.slotInfosByTime)
                {
                    @if (curDayByTime != slot.SlotTimeFrom.Value)
                    {
                        @if (curDTByTime >= slot.SlotTimeFrom.Value && curDTByTime <= slot.SlotTimeTo.Value)
                        {
                            <tr class="tabularBodyRowSpan tabularBodyRowSpanActiveHigh">
                                <td colspan="8">
                                    @slot.SlotTimeFrom.Value.ToLocalTime().ToString("ddd, dd MMM yy") &nbsp; | &nbsp; @slot.SlotTimeFrom.Value.ToLocalTime().ToString("HH:mm") - @slot.SlotTimeTo.Value.ToLocalTime().ToString("HH:mm")
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="tabularBodyRowSpan">
                                <td colspan="8">
                                    @slot.SlotTimeFrom.Value.ToLocalTime().ToString("ddd, dd MMM yy") &nbsp; | &nbsp; @slot.SlotTimeFrom.Value.ToLocalTime().ToString("HH:mm") - @slot.SlotTimeTo.Value.ToLocalTime().ToString("HH:mm")
                                </td>
                            </tr>
                        }
                    }

                    curDayByTime = slot.SlotTimeFrom.Value;


                    @if (curDTByTime >= slot.SlotTimeFrom.Value && curDTByTime <= slot.SlotTimeTo.Value)
                    {
                        <tr class="tabularBodyRowContent tabularBodyRowContentActiveLow">
                            <td>
                                @slot.SlotCourt
                            </td>
                            <td>
                                @slot.SlotCreator
                            </td>
                            @*<td>
                                @(slot.SlotTimeFrom.Value.ToLocalTime().ToString("HH:mm") + " - " + slot.SlotTimeTo.Value.ToLocalTime().ToString("HH:mm"))
                            </td>*@
                            <td>
                                @slot.SlotState
                            </td>
                            <td>
                                @slot.LightTimeUpdated
                            </td>
                            <td>
                                @(slot.LightTimeFrom.Value.ToLocalTime().ToString("HH:mm:ss") + " - " + slot.LightTimeTo.Value.ToLocalTime().ToString("HH:mm:ss"))
                            </td>
                            <td>
                                @slot.LightState
                            </td>
                            <td>
                                @slot.SlotType
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="tabularBodyRowContent">
                            <td>
                                @slot.SlotCourt
                            </td>
                            <td>
                                @slot.SlotCreator
                            </td>
                            @*<td>
                                @(slot.SlotTimeFrom.Value.ToLocalTime().ToString("HH:mm") + " - " + slot.SlotTimeTo.Value.ToLocalTime().ToString("HH:mm"))
                            </td>*@
                            <td>
                                @slot.SlotState
                            </td>
                            <td>
                                @slot.LightTimeUpdated
                            </td>
                            <td>
                                @(slot.LightTimeFrom.Value.ToLocalTime().ToString("HH:mm:ss") + " - " + slot.LightTimeTo.Value.ToLocalTime().ToString("HH:mm:ss"))
                            </td>
                            <td>
                                @slot.LightState
                            </td>
                            <td>
                                @slot.SlotType
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br />
    </div>



    @foreach (var sIbRG in _TabularExtract.slotInfosByRelayGroup)
    {
        <div id="@sIbRG.RelayGroupId" class="tabcontent" style="margin: 0 auto; text-align: center;">
            <h3>Court @sIbRG.RelayGroupId</h3>
            <br />
            <table class="tabularTable" border="1" width="95%" style="align-content:center; text-align:center;">
                <thead class="tabularHead">
                    <tr class="tabularHeadRow">
                        <td class="tabularHeadCol">
                            Court
                        </td>
                        <td class="tabularHeadCol">
                            Creator
                        </td>
                        <td class="tabularHeadCol">
                            Time Slot
                        </td>
                        <td class="tabularHeadCol">
                            Slot State
                        </td>
                        <td class="tabularHeadCol">
                            Light Time Updated?
                        </td>
                        <td class="tabularHeadCol">
                            Light Time
                        </td>
                        <td class="tabularHeadCol">
                            Light State
                        </td>
                        <td class="tabularHeadCol">
                            Slot Type
                        </td>
                    </tr>
                </thead>
                <tbody class="tabularBody">
                    @{DateTime curDayByRelayGroup = new DateTime(2000, 1, 1).Date;}

                    @{DateTime curDTByRelayGroup = DateTime.UtcNow;}
                    
                    @foreach (var slot in sIbRG.slotInfos)
                    {
                        @if (curDayByRelayGroup.Date != slot.SlotTimeFrom.Value.Date)
                        {
                            @if (curDTByRelayGroup.Date >= slot.SlotTimeFrom.Value.Date && curDTByRelayGroup.Date <= slot.SlotTimeTo.Value.Date)
                            {
                                <tr class="tabularBodyRowSpan tabularBodyRowSpanActiveHigh">
                                    <td colspan="8">
                                        @slot.SlotTimeFrom.Value.ToLocalTime().ToString("ddd, dd MMM yy")
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr class="tabularBodyRowSpan">
                                    <td colspan="8">
                                        @slot.SlotTimeFrom.Value.ToLocalTime().ToString("ddd, dd MMM yy")
                                    </td>
                                </tr>
                            }
                        }

                        curDayByRelayGroup = slot.SlotTimeFrom.Value;

                        @if (curDTByRelayGroup >= slot.SlotTimeFrom.Value && curDTByRelayGroup <= slot.SlotTimeTo.Value)
                        {
                            <tr class="tabularBodyRowContent tabularBodyRowContentActiveLow">
                                <td>
                                    @slot.SlotCourt
                                </td>
                                <td>
                                    @slot.SlotCreator
                                </td>
                                <td>
                                    @(slot.SlotTimeFrom.Value.ToLocalTime().ToString("HH:mm") + " - " + slot.SlotTimeTo.Value.ToLocalTime().ToString("HH:mm"))
                                </td>
                                <td>
                                    @slot.SlotState
                                </td>
                                <td>
                                    @slot.LightTimeUpdated
                                </td>
                                <td>
                                    @(slot.LightTimeFrom.Value.ToLocalTime().ToString("HH:mm:ss") + " - " + slot.LightTimeTo.Value.ToLocalTime().ToString("HH:mm:ss"))
                                </td>
                                <td>
                                    @slot.LightState
                                </td>
                                <td>
                                    @slot.SlotType
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="tabularBodyRowContent">
                                <td>
                                    @slot.SlotCourt
                                </td>
                                <td>
                                    @slot.SlotCreator
                                </td>
                                <td>
                                    @(slot.SlotTimeFrom.Value.ToLocalTime().ToString("HH:mm") + " - " + slot.SlotTimeTo.Value.ToLocalTime().ToString("HH:mm"))
                                </td>
                                <td>
                                    @slot.SlotState
                                </td>
                                <td>
                                    @slot.LightTimeUpdated
                                </td>
                                <td>
                                    @(slot.LightTimeFrom.Value.ToLocalTime().ToString("HH:mm:ss") + " - " + slot.LightTimeTo.Value.ToLocalTime().ToString("HH:mm:ss"))
                                </td>
                                <td>
                                    @slot.LightState
                                </td>
                                <td>
                                    @slot.SlotType
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <br />

        </div>
    }

    </div>
