@page "/admin/test-page"

@using Syncfusion.Blazor.Grids

<h1>Test Page</h1>

<p>This is a test page for VortexLoop.</p>

<button @onclick="BtnRefreshData">Refresh</button>

<br /><hr /><br />

<h2>Relays Get</h2> 
<SfGrid ID="gridRelays" @ref="gridRelaysRef" DataSource="@TestRelayList" 
        AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true">
    <GridPageSettings PageSize="25"></GridPageSettings>
</SfGrid>
<br />

<h2>Relays Set</h2> 
<span>Id</span> <input type="number" @bind-value="RelayInputId" /><br />
<span>State</span> <input type="number" @bind-value="RelayInputState" /><br />
<button @onclick="BtnRelayUpdate">Update</button>

<br /><hr /><br />

<h2>Timeslots Get</h2> 
<SfGrid ID="gridTimeslots" @ref="gridTimeslotsRef" DataSource="@TestTimeSlotList" 
        AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true">
    <GridPageSettings PageSize="25"></GridPageSettings>
</SfGrid>
<br />

<h2>Timeslots Set</h2> 
<span>Id</span> <input type="text" @bind-value="TimeslotInputId" /><br />
<span>State</span> <input type="number" @bind-value="TimeslotInputState" /><br />
<button @onclick="BtnTimeslotUpdate">Update</button>

<br /><hr /><br />