﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --sidebar-bgcolor: #343c49;
    --site-bgcolor: #90a4ad;
    --text-color-light: #fff;
    --card-bgcolor: #fff;
    --card-boxActive-bgcolor: rgba(52,60,73, 0.9);
    --card-boxActive-color: #fff;
    --card-boxInActive-bgcolor: rgba(52,60,73, 0.4);
    --card-boxInActive-color: #696969;
}


* {
    margin: 0;
    padding: 0;
}

html, body {
    background: var(--site-bgcolor);
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;  
    font-size: 10pt;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
}

a {
    color: var(--text-color-light);
}

a, .btn-link {
    color: var(--text-color-light);    
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#appShell {
    height: 100%;
    background: var(--site-bgcolor);
    zoom: 1;    
}

#app {
    background: var(--site-bgcolor);
    height: 100%;
}


.top-row {
    background: var(--sidebar-bgcolor);
    color: var(--text-color-light);
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*
.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }
*/

.main {
    flex: 1;
    background: var(--site-bgcolor);
}

    .main .top-row {
        background-color: var(--sidebar-bgcolor);                
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-image: linear-gradient(180deg, var(--sidebar-bgcolor) 0%, var(--sidebar-bgcolor) 70%);
}
/*
    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }
*/
    .sidebar .navbar-brand {
        font-size: 1.1rem;
        margin: 0 auto;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.scroller {
    height: calc(100vh - 129px) !important;
    overflow-y: auto;
    width: 252px;
}

    .scroller::-webkit-scrollbar,
    scrollbar-thumb .scroller::-webkit-scrollbar-thumb {
        width: 8px;
        /*height: 110px;*/
        border-radius: 4px;
        /*position: center;*/
    }

    .scroller::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 0 10px dimgray;
        border-radius: 4px;
    }

    .scroller::-webkit-scrollbar-track {
        /*width: 28px;*/
    }

.separator {
    border: 1px solid #FFFFFF;
    opacity: 0.14;
    width: 230px;
    margin: 1rem;
    margin-top: 0px;
}

.content {
    padding-top: 1.1rem;
    max-width: 1500px;
    margin: 0 auto;
    min-width: 300px;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1200;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        min-height: 100vh;
        height: auto;        
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}




@media screen and (min-width: 1025px) { /* LARGE MONITORS */
    html, body {
        /*padding: 10px;*/
    }
}

@media screen and (max-width: 1024px) { /* SMALL MONITORS */
    html, body {
        /*padding: 6px;*/
    }
}

@media screen and (max-width: 768px) { /* TABLET */
    html, body {
        /*padding: 4px;*/
    }
}

@media screen and (max-width: 480px) { /* PHONE */
    html, body {
        /*padding: 2px;*/
    }
}