﻿@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using VortexLoop.BlazorApp.Data;

@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">VLTC Manager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dashboard" Match="NavLinkMatch.All">
                <span class="syncfusion-blazor-icons">
                    <i class="material-icons md-36">sports_tennis</i>
                </span>
                Dashboard
            </NavLink>
        </li>
    </ul>

    <div class="separator"></div>

    <div class="scroller">

        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/scheduler">
                    <span class="syncfusion-blazor-icons syncfusion-blazor-icon-calendar" aria-hidden="true"></span>
                    Scheduler
                </NavLink>
            </li>
            <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/tabular">
                        <span class="syncfusion-blazor-icons">
                            <i class="material-icons md-36">table_view</i>
                        </span>
                        Tabular
                    </NavLink>
                </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/settings">
                    <span class="syncfusion-blazor-icons">
                        <i class="material-icons md-36">settings</i>
                    </span>
                    Settings
                </NavLink>
            </li>
        </ul>

        <AuthorizeView>
            <Authorized>

                @if (_isAdmin)
                {

                    <div class="separator"></div>

                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/admin/settings">
                                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-toggleswitchbutton" aria-hidden="true"></span>
                                Admin Settings
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/admin/test-page">
                                <span class="syncfusion-blazor-icons">
                                    <i class="material-icons md-36">preview</i>
                                </span>
                                Admin Test Page
                            </NavLink>
                        </li>
                    </ul>

                }

            </Authorized>
        </AuthorizeView>

    </div>
</div>

@code
{

    private bool _isAdmin = false;
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                Loggy.Log(Loggy.LogType.Info, $"The user >{user.Identity.Name}< is authenticated.");

                user = authState.User;
                var claims = user.Claims;

                const string claimTypeRoles = "roles";
                const string claimValueAdmin = "admin";

                foreach (var claim in claims)
                {
                    if (claim.Type == claimTypeRoles && claim.Value.Contains(claimValueAdmin))
                    {
                        _isAdmin = true;
                        Loggy.Log(Loggy.LogType.Info, $"Claim Type = {claim.Type} and Claim Value = {claim.Value} - IsAdminTrue");
                    }
                    else
                    {
                        Loggy.Log(Loggy.LogType.Info, $"Claim Type = {claim.Type} and Claim Value = {claim.Value} - IsAdminFalse");
                    }
                }
            }
            else
            {
                Loggy.Log(Loggy.LogType.Info, $"The user is NOT authenticated.");
            }
        }
        catch (Exception ex)
        {
            Loggy.Log(Loggy.LogType.Error, $"Exception = {ex.Message} | Stack Trace = {ex.StackTrace}");
            throw;
        }
    }

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}




