@page "/admin/settings"

@using System.Net.Http.Headers
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Configuration

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IAccessTokenProvider TokenProvider
@inject HttpClient Http
@inject IConfiguration Configuration

<h1>Settings</h1>
<p >Settings - Introducion Text.</p>

<div>
    <table>
        <thead>
            <tr>
                <td>KEY</td>
                <td>VALUE</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ENVIRONMENT_MODE</td>
                <td>@Configuration["ENVIRONMENT_MODE"]</td>
            </tr>
            <tr>
                <td>RELAY_RESOURCE_ROUTE</td>
                <td>@Configuration["RELAY_RESOURCE_ROUTE"]</td>
            </tr>
            <tr>
                <td>RELAY_USE_MOCK</td>
                <td>@Configuration["RELAY_USE_MOCK"]</td>
            </tr>
            <tr>
                <td>TIMESLOT_RESOURCE_ROUTE</td>
                <td>@Configuration["TIMESLOT_RESOURCE_ROUTE"]</td>
            </tr>
            <tr>
                <td>TIMESLOT_USE_MOCK</td>
                <td>@Configuration["TIMESLOT_USE_MOCK"]</td>
            </tr>
            <tr>
                <td>SETTING_RESOURCE_ROUTE</td>
                <td>@Configuration["SETTING_RESOURCE_ROUTE"]</td>
            </tr>
            <tr>
                <td>SETTING_USE_MOCK</td>
                <td>@Configuration["SETTING_USE_MOCK"]</td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    protected override void OnInitialized()
    {
         Console.WriteLine(Configuration["CurrentEnvironment"]);
    }
}