@page "/light-control/{CourtName}"


<h1 class="pageheader">Court @CourtNumber</h1>
<p class="pagecontent">Court @CourtNumber - Introducion Text.</p>

<div class="controlregion">
    <h5 class="productheader">Court @CourtNumber</h5>
    <span>Court @CourtNumber Data</span>

    <h1>@CourtMessage</h1>
</div>

@code {
    // CourtX ViewModel
    [Parameter]
    public string CourtName { get; set; }
    public string CourtNumber { get; set; }
    public string CourtMessage { get; set; }

    protected override void OnInitialized()
    {
        DynamicPageRouteManager();
    }

    protected override void OnParametersSet()
    {
        DynamicPageRouteManager();  
    }

    protected void DynamicPageRouteManager()
    {
        bool isValidRoute = true;
        if(CourtName.ToLower().StartsWith("court"))
        {
            if (CourtName.Length==7) {
                CourtNumber = CourtName.Substring(5);                

                if (CourtNumber == "01" || CourtNumber == "02" || CourtNumber == "03" || CourtNumber == "04")
                {
                    CourtMessage = "Welcome to Tennis Court " + CourtNumber;
                } else {
                    isValidRoute = false;
                }
            } 
            else 
            {
                isValidRoute = false;                
            }               
        } 
        else
        {
            isValidRoute = false;
        }

        if(!isValidRoute)                             
            CourtMessage = "Tennis Court '" + CourtName + "' does not exist";
    }
}