@page "/dashboard"

@using Data

@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons

<h1 class="pageheader">Dashboard</h1>
<p class="pagecontent">Dashboard Introducion Text.</p>

<button class="btn btn-primary" @onclick="RefreshClicked">Refresh</button>

<div class="dashboard-card-section">
    
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <SfCard ID="BasicCard01" CssClass="relayGroupCard">
                <CardContent>
                    <div class="cardContent">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <span class="courtName">Court 01</span>
                            </div>                            
                            <div class="col-sm-6 col-xs-6 switchStateGroup">
                                11<SfSwitch CssClass="headerSwitch" @bind-Checked="@A1"  />&nbsp;&nbsp;&nbsp;
                                12<SfSwitch CssClass="headerSwitch" Checked="@B1" />&nbsp;&nbsp;&nbsp;
                                13<SfSwitch CssClass="headerSwitch" @bind-Checked="@C1" />
                            </div>                            
                        </div>
                    </div>                    
                </CardContent>
            </SfCard>
        </div>
        <div class="col-lg-6 col-md-6">
            <SfCard ID="BasicCard01" CssClass="relayGroupCard">
                <CardContent>
                    <div class="cardContent">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <span class="courtName">Court 02</span>
                            </div>                            
                            <div class="col-sm-6 col-xs-6 switchStateGroup">
                                21<SfSwitch CssClass="headerSwitch" @bind-Checked="@A2" />&nbsp;&nbsp;&nbsp;
                                22<SfSwitch CssClass="headerSwitch" @bind-Checked="@B2" />&nbsp;&nbsp;&nbsp;
                                23<SfSwitch CssClass="headerSwitch" @bind-Checked="@C2" />
                            </div>                            
                        </div>
                    </div>                    
                </CardContent>
            </SfCard>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <SfCard ID="BasicCard01" CssClass="relayGroupCard">
                <CardContent>
                    <div class="cardContent">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <span class="courtName">Court 03</span>
                            </div>                            
                            <div class="col-sm-6 col-xs-6 switchStateGroup">
                                31<SfSwitch CssClass="headerSwitch" Checked="@A3" />&nbsp;&nbsp;&nbsp;
                                32<SfSwitch CssClass="headerSwitch" Checked="@B3" />&nbsp;&nbsp;&nbsp;
                                33<SfSwitch CssClass="headerSwitch" Checked="@C3" />
                            </div>                            
                        </div>
                    </div>                    
                </CardContent>
            </SfCard>
        </div>
        <div class="col-lg-6 col-md-6">
            <SfCard ID="BasicCard01" CssClass="relayGroupCard">
                <CardContent>
                    <div class="cardContent">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <span class="courtName">Court 04</span>
                            </div>                            
                            <div class="col-sm-6 col-xs-6 switchStateGroup">
                                41<SfSwitch CssClass="headerSwitch" Checked="@A4" />&nbsp;&nbsp;&nbsp;
                                42<SfSwitch CssClass="headerSwitch" Checked="@B4" />&nbsp;&nbsp;&nbsp;
                                43<SfSwitch CssClass="headerSwitch" Checked="@C4" />
                            </div>                            
                        </div>
                    </div>                    
                </CardContent>
            </SfCard>
        </div>
    </div>
</div>

