﻿

.relayGroupCard {
  
    height: 300px;
    margin: 5px;
    justify-content: normal;
    border-color: black;
    border-width: 2px;
}

.cardContent {

}

    .cardContent .courtName {
        font-weight: bold;
        font-size: 24px;
    }

    .switchStateGroup {
                
    }

        .switchStateGroup .headerSwitch {
            padding-left: 10px;
            padding-right: 10px;
        }