@page "/test-page"

@using System.Net.Http.Headers
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using Models
@using Syncfusion.Blazor.Grids

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IAccessTokenProvider TokenProvider
@inject HttpClient Http

<h1>Test Page</h1>

<p>This is a test page for VortexLoop.</p>

<SfButton Content="Refresh" OnClick="BtnRefresh"></SfButton>

<h2>Time Slots</h2> <p>Items: @TimeSlotsCount</p>
<SfGrid ID="gridTimeSlots" @ref="gridTimeSlots" DataSource="@GetTimeSlots"
        AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true">
    <GridPageSettings PageSize="25"></GridPageSettings>
</SfGrid>

<h2>Time Slots External</h2> <p>Items: @GetTimeSlotsExternal.Count</p>
<SfGrid ID="gridTimeSlotsExternal" DataSource="@GetTimeSlotsExternal"
        AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true">
    <GridPageSettings PageSize="25"></GridPageSettings>
</SfGrid>




@code {
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }

    public record AuthData(string message);
    public record RelayData(int id, int status);

    private AuthData authData;
    public string AccessToken { get; set; }

    //public List<TimeSlot> GetTimeSlots;
    //public List<TimeSlot> GetTimeSlotsExternal;

    //public SfGrid<TimeSlot> gridTimeSlots;
    //public int TimeSlotsCount { 
    //get; 
    //set; }

    

    protected override async Task OnInitializedAsync()
    {
        //GetTimeSlotsExternal = new List<TimeSlot>();
        //GetTimeSlotsExternal = VortexLoopDataService.Get().GetTimeSlotsExternal();

        //await Refresh();
        
    }

    public void BtnRefresh()
    {
        //Refresh();
    }

    private async Task Refresh()
    {
        //GetTimeSlots = VortexLoopDataService.Get().GetTimeSlots();
        //gridTimeSlots.Refresh();
        //TimeSlotsCount = GetTimeSlots.Count();        
    }

}