<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">VLTC Manager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dashboard" Match="NavLinkMatch.All">
                 <span class="syncfusion-blazor-icons">
                    <i class="material-icons md-36">sports_tennis</i>
                </span>
                Dashboard
            </NavLink>
        </li>
    </ul>

    <div class="separator"></div>
    
    <div class="scroller">

       <ul class="nav flex-column">
       		<li class="nav-item px-3">
 	            <NavLink class="nav-link" href="/light-control/court01"> 	                
                    <span class="syncfusion-blazor-icons">
                        <i class="material-icons md-36">filter_1</i>
                    </span>
                    Court 01
 	            </NavLink>
 	        </li>
            <li class="nav-item px-3">
 	            <NavLink class="nav-link" href="/light-control/court02"> 	                
                    <span class="syncfusion-blazor-icons">
                        <i class="material-icons md-28">filter_2</i>
                    </span>
                    Court 02
 	            </NavLink>
 	        </li>
       		<li class="nav-item px-3">
 	            <NavLink class="nav-link" href="/light-control/court03"> 	                
                    <span class="syncfusion-blazor-icons">
                        <i class="material-icons md-36">filter_3</i>
                    </span>
                    Court 03
 	            </NavLink>
 	        </li>
            <li class="nav-item px-3">
 	            <NavLink class="nav-link" href="/light-control/court04"> 	                
                    <span class="syncfusion-blazor-icons">
                        <i class="material-icons md-28">filter_4</i>
                    </span>
                    Court 04
 	            </NavLink>
 	        </li>
            <li class="nav-item px-3">
 	            <NavLink class="nav-link" href="/light-control/court05"> 	                
                    <span class="syncfusion-blazor-icons">
                        <i class="material-icons md-28">filter_5</i>
                    </span>
                    Court 05
 	            </NavLink>
 	        </li>
        </ul>

        <div class="separator"></div>
        
        <ul class="nav flex-column">
            <li class="nav-item px-3">
 	            <NavLink class="nav-link" href="/admin/settings"> 	                
                    <span class="syncfusion-blazor-icons">
                        <i class="material-icons md-36">settings</i>
                    </span>
                    Settings
 	            </NavLink>
 	        </li>
        </ul>

        <div class="separator"></div>
        
        <ul class="nav flex-column">
           <li class="nav-item px-3">
 	            <NavLink class="nav-link" href="scheduler-features">
 	                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-scheduler" aria-hidden="true"></span>
                    Scheduler
 	            </NavLink>
 	        </li>
	        <li class="nav-item px-3">
 	            <NavLink class="nav-link" href="calendar-features">
 	                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-calendar" aria-hidden="true"></span>
                    Calendar
 	            </NavLink>
 	        </li>
	        <li class="nav-item px-3">
 	            <NavLink class="nav-link" href="card-features">
 	                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-card" aria-hidden="true"></span>
                    Card
 	            </NavLink>
 	        </li>
	        <li class="nav-item px-3">
 	            <NavLink class="nav-link" href="toggleswitchbutton-features">
 	                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-toggleswitchbutton" aria-hidden="true"></span>
                    Toggle Switch Button
 	            </NavLink>
 	        </li>
	        <li class="nav-item px-3">
 	            <NavLink class="nav-link" href="button-features">
 	                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-button" aria-hidden="true"></span>
                    Button
 	            </NavLink>
 	        </li>
	        <li class="nav-item px-3">
 	            <NavLink class="nav-link" href="toast-features">
 	                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-toast" aria-hidden="true"></span>
                    Toast
 	            </NavLink>
 	        </li>
       </ul>

       <div class="separator"></div>
        
       <ul class="nav flex-column">
            <li class="nav-item px-3">
 	            <NavLink class="nav-link" href="/test-page"> 	                
                    <span class="syncfusion-blazor-icons">
                        <i class="material-icons md-36">preview</i>
                    </span>
                    Test Page
 	            </NavLink>
 	        </li>
        </ul>

    </div>

</div>

 <style>
        .scroller {
            height: calc(100vh - 160px) !important;
            overflow-y: auto;
            width:272px;
        }

            .scroller::-webkit-scrollbar, scrollbar-thumb
            .scroller::-webkit-scrollbar-thumb {
                width: 8px;
                height: 110px;
                border-radius: 4px;
                position: center;
            }

            .scroller::-webkit-scrollbar-thumb {
                box-shadow: inset 0 0 0 10px #313C75;
                border-radius: 4px;
            }

            .scroller::-webkit-scrollbar-track {
                width: 28px;
            }
	    .separator{
           border:1px solid #FFFFFF;
           opacity:0.14;
           width:247px;
           margin:1rem;
           margin-top:0px;
        }
    </style>

@code 
{
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
